.idea/
.kotlintest/
.settings/
.project
.classpath
*.log

.gradle
build

ll-mini-ilisp-kotlin-llvm/

/src/main/kotlin/io/littlelanguages/data/Tuple.kt
/src/main/kotlin/io/littlelanguages/data/Union.kt
/src/main/kotlin/io/littlelanguages/data/Yammable.kt
/src/main/kotlin/io/littlelanguages/mil/static/Parser.kt
/src/main/kotlin/io/littlelanguages/mil/static/Scanner.kt
/src/main/kotlin/io/littlelanguages/scanpiler

/src/main/c/*.o
/test.*
/src/main/c/testmain

/samples/hello
/samples/hello.bc
/samples/hello.ll
